.progress {
  position: absolute;
  left: 0;
  bottom: 75px;
  width: 100%;
  height: 0;
  overflow: visible;
  z-index: 2;
  transition: ease transform 0.5s, ease bottom 0.5s, ease opacity 0.2s;
}

.playlist-active {
  .progress {
    bottom: calc(75% - 53px);
    transform: translateZ(0);
    // opacity: 0;
    // pointer-events: none;
  }
}
