.track-images {
  width: 100%;
  height: calc(100% - 56px - 75px);
  transition: ease transform 0.5s;

  &.flickity-enabled {
    width: 100%;
    height: 100%;

    .control-arrow {
      display: none;
    }

    .flickity-viewport {
      height: 100%;

      .flickity-slider {
        height: 100%;
      }
    }
  }

  &.slick-slider {
    .slick-list {
      width: 100%;
      height: 100%;

      .slick-track {
        height: 100%;

        .slick-slide div {
          height: 100%;
        }
      }
    }
  }

  .track-image {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    // flex: 1 0 100%;
    // transform: translate(-100%) translateZ(0);
    // position: absolute;
    // top: 0;
    // left: 0;
    // will-change: transform;

    .track-cover {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-color: #0e161d;
      background-position: 50% 50%;
      background-size: cover;
      transition: ease 0.3s transform;
    }
  }
}

.flickity-slider {
  will-change: transform;
}

.flickity-viewport {
  &.is-pointer-down {
    .track-image {
      &.is-selected {
        .track-cover {
          // transform: scale(1.05);
        }
      }
    }
  }
}

.playlist-active {
  .track-images {
    transform: translateY(-25%) translateZ(0);
  }
}
