html,
body {
  height: 100%;
  overflow: hidden;
  background: #262626;
}
/**
 * Created by Profesor08 on 27.05.2017.
 */
.player {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media only screen and (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media only screen and (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media only screen and (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media only screen and (min-width: 769px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .player {
    width: 768px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@media only screen and (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media only screen and (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media only screen and (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@media screen and (-webkit-max-device-pixel-ratio: 1) {
  /* Non-Retina */
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-width: 1025px) {
  /* Retina */
}
/**
 * Created by Profesor08 on 27.05.2017.
 */
.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  height: 75px;
  background: #0E161D;
  background: linear-gradient(135deg, #1a2228 0%, #0E161D 100%);
  transition: ease-in-out height, margin 300ms;
}
.controls .control-button {
  margin: 0 1%;
}
.controls #pause-button,
.controls #play-button {
  position: absolute;
  top: 0;
  left: 0;
  background: #D31427;
}
.controls #shuffle-button,
.controls #repeat-button,
.controls #next-button,
.controls #previous-button {
  box-shadow: none;
  background: transparent;
  animation: show-buttons 500ms;
}
.controls #shuffle-button i,
.controls #repeat-button i {
  color: #78909c;
}
.controls #shuffle-button.active i,
.controls #repeat-button.active i {
  color: #cfd8dc;
}
.controls #repeat-button i:last-child {
  display: none;
}
.controls #repeat-button.active i:first-child {
  display: none;
}
.controls #repeat-button.active i:last-child {
  display: inline-block;
}
.controls .play-pause-wrapper {
  position: relative;
  left: 0;
  top: 0;
  transition: ease-in-out all 300ms;
  background: transparent;
  box-shadow: none;
  z-index: 2;
  overflow: visible;
  margin: 0 3%;
  transform: scale(0.9);
}
.controls .play-pause-wrapper i {
  transform: scale(1.3);
  transition: ease-in-out all 300ms;
}
.small-playlist .controls {
  height: 56px;
  margin-top: -56px;
  z-index: 1;
}
.small-playlist .controls .play-pause-wrapper {
  left: 45%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  z-index: 3;
}
.small-playlist .controls .play-pause-wrapper i {
  transform: scale(1.5);
}
/**
 * Created by Profesor08 on 27.05.2017.
 */
.track-info-wrapper {
  height: 56px;
  background: #1C2630;
  position: relative;
  z-index: 2;
}
.track-info {
  height: 100%;
  overflow: hidden;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.track-info .description {
  width: 60%;
  font-size: 0.9em;
  margin-left: 4%;
}
.track-info .title {
  font-weight: bold;
  color: #DDDDDD;
}
.track-info .user {
  color: #78909c;
  font-size: 0.9em;
}
.track-info .time {
  font-size: 0.8em;
  margin-right: 4%;
  color: #CCCCCC;
}
@keyframes wave-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes wave-2 {
  0% {
    transform: rotate(33deg);
  }
  100% {
    transform: rotate(393deg);
  }
}
@keyframes wave-3 {
  0% {
    transform: rotate(66deg);
  }
  100% {
    transform: rotate(426deg);
  }
}
@keyframes waves-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.music-waves {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}
.wave {
  position: absolute;
  height: 1600px;
  width: 1600px;
  border-radius: 40%;
  left: calc(50% - 800px);
  top: -1600px;
  transform: translateX(-50%);
}
.wave:nth-child(1) {
  background: rgba(255, 255, 255, 0.03);
  animation: wave-1 5s infinite linear;
}
.wave:nth-child(2) {
  background: rgba(255, 255, 255, 0.03);
  animation: wave-2 5s infinite linear;
}
.wave:nth-child(3) {
  background: rgba(255, 255, 255, 0.03);
  animation: wave-3 5s infinite linear;
}
.music-waves:not(.playing) .wave {
  animation-duration: 60s;
}
.full-playlist .track-info-wrapper {
  height: 0;
}
/**
 * Created by Profesor08 on 27.05.2017.
 */
.image-container {
  background: url(../images/no-cover.png) no-repeat center center / cover;
  height: calc(100% - 56px - 75px);
  transition: ease-in-out all 300ms;
  overflow: hidden;
}
.image-container .image-carousel {
  height: 100%;
  white-space: nowrap;
  transform: translateX(0px) translateY(0) translateZ(0);
}
.image-container .image {
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: ease-in-out all 300ms;
  background: url(../images/no-cover.png) no-repeat center center / cover;
}
.image-container .slick-list,
.image-container .slick-track {
  height: 100%;
}
.small-playlist .image-container {
  height: 30%;
  background-position: center 20%;
}
.small-playlist .image-container .image {
  background-position: center 20%;
}
.full-playlist .image-container {
  height: 0;
}
/**
 * Created by Profesor08 on 27.05.2017.
 */
.playlist {
  height: calc(100% - 30% - 50px);
  overflow-y: scroll;
  background: #0E161D;
  background: linear-gradient(135deg, #262d34 0%, #0E161D 100%);
  transition: ease-in-out height 300ms;
}
.playlist::-webkit-scrollbar {
  width: 5px;
}
.playlist::-webkit-scrollbar-track {
  background: #0E161D;
}
.playlist::-webkit-scrollbar-thumb {
  background-color: #262d34;
  outline: none;
}
.playlist .track {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #212e3b;
  position: relative;
}
.playlist .track .track-progress {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
}
.playlist .track.active {
  background: #10181f;
}
.playlist .track.active .track-progress {
  background: #2d363d;
}
.playlist .track .track-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  position: relative;
}
.playlist .track .play-button {
  height: 100%;
  flex: 0 0 50px;
  align-items: center;
  justify-content: center;
  color: #F8F8F8;
}
.playlist .track .play-button i:last-child {
  display: none;
}
.playlist .track.pause i:first-child {
  display: none;
}
.playlist .track.pause i:last-child {
  display: inline-block;
}
.playlist .track .description {
  font-size: 0.9em;
  width: calc(100% - 50px - 70px);
}
.playlist .track .title {
  font-weight: bold;
  color: #DDDDDD;
}
.playlist .track .user {
  color: #78909c;
  font-size: 0.9em;
}
.playlist .track .duration-time {
  flex: 0 0 70px;
  font-size: 0.8em;
  color: #CCCCCC;
  text-align: right;
  padding-right: 15px;
}
.playlist .track :last-child {
  border: 0;
}
/**
 * Created by Profesor08 on 27.05.2017.
 */
.progress-bar-wrapper {
  height: 0;
  width: 100%;
  position: relative;
  z-index: 3;
  transition: ease-in-out transform 300ms;
}
.progress-bar-wrapper .thumb {
  display: none;
}
.progress-bar-wrapper .progress-bar {
  height: 2px;
  width: 100%;
  background: #000000;
  position: absolute;
}
.progress-bar-wrapper .progress-bar .background-bar {
  width: 0;
  height: inherit;
  background: #F3162B;
}
.progress-bar-wrapper input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  position: absolute;
  width: calc(100% +  12px);
  left: -6px;
  height: 30px;
  transform: translateY(-50%);
}
.progress-bar-wrapper input[type=range]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  background-clip: content-box;
  box-sizing: content-box;
  border: 6px solid rgba(211, 20, 39, 0.4);
  border-radius: 50%;
  transition: ease-in all 200ms;
  transform: translateY(-4px);
  outline: none;
}
.progress-bar-wrapper input[type=range]::-webkit-slider-runnable-track {
  background-color: transparent;
}
.progress-bar-wrapper input[type=range]::-webkit-slider-thumb:hover {
  background-color: #FFFFFF;
}
.progress-bar-wrapper input[type=range]:active::-webkit-slider-thumb {
  background-color: #FFFFFF;
}
.progress-bar-wrapper input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  background-clip: content-box;
  box-sizing: content-box;
  border: 6px solid rgba(211, 20, 39, 0.4);
  border-radius: 50%;
  transition: ease-in all 200ms;
  transform: translateY(-4px);
  outline: none;
}
.progress-bar-wrapper input[type=range]::-moz-range-thumb:hover {
  background-color: #FFFFFF;
}
.progress-bar-wrapper input[type=range]:active::-moz-range-thumb {
  background-color: #FFFFFF;
}
/**
 * Created by Profesor08 on 15.07.2017.
 */
.player .arrow {
  position: absolute;
  transform: translateX(50%) translateY(50%);
  height: 24px;
  color: #DDDDDD;
  border-radius: 50%;
}
.player .header {
  width: 100%;
  position: absolute;
  transform: translateY(-100%);
  z-index: 2;
  transition: ease-in-out transform 200ms;
}
.player .header nav {
  position: relative;
  z-index: 2;
  background: #D31427;
}
.player .header.active {
  transform: translateY(0%);
}
/**
 * Created by Profesor08 on 17.07.2017.
 */
#sidebar {
  background: #1C2630;
}
#sidebar .user-view {
  display: flex;
  background: #D31427;
  line-height: 1.5;
  padding: 20px 0 20px 20px;
}
#sidebar .user-view .circle {
  height: 64px;
  width: 64px;
}
#sidebar .user-view div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#sidebar .user-view a {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
#sidebar li > a {
  padding: 0 16px;
  color: #DDDDDD;
  font-weight: normal;
}
#sidebar li > a > i,
#sidebar li > a > [class^="mdi-"],
#sidebar li > a li > a > [class*="mdi-"],
#sidebar li > a > i.material-icons {
  margin: 0 16px 0 0;
  color: #DDDDDD;
}
#sidebar .nav-scrolling {
  height: calc(100% - 104px);
  overflow: scroll;
}
